* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe {
    max-width: 90%;
    width: 60%;
    margin: 5rem auto;
}

.back {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid goldenrod;
    border-radius: 0.5rem;
    font-weight: bold;
    position: absolute;
    top: 5;
    left: 5;
}

.back:hover {
    cursor: pointer;
    background-color: goldenrod;
}

img {
    display: block;
    width: 400px;
    height: auto;
    margin: auto;
}

.title {
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 50%;
}

.description {
    display: block;
    font-style: italic;
    font-weight: 600;
}

ul,
ol {
    text-align: justify;
    padding: 1rem;
}

ul > li,
ol > li {
    margin: 0.5rem;
}