* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 375px;
    max-width: 1440px;
}

.container {
    width: 60%;
    max-width: 70%;
    margin: 5rem auto;
    padding: 1rem;
}

.title {
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
    margin: 1rem;
}

.description {
    display: block;
    font-style: italic;
    font-weight: 600;
}

.title,
.description {
    text-align: center;
}

ul {
    padding: 2rem;
}

ul li {
    margin: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: goldenrod;
}